/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.full-width{ width: 100% }

.faded-value-list{ color: #777; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }